

    body {
      background-color: #cdedfd;
      background-image: linear-gradient(319deg, #cdedfd 0%, #ffec82 37%, #ffcfd2 100%);

        margin-left: 100px;
        margin-right: 100px;
      }
      h1{
        color:  #D99CA5;
        font-size: 40px;
        text-align: center;
      }
      h2{
        color: #FF6961;
        font-size: 30px;
        text-align: center;
      }
      .p1{
        color: #FF6961;
        font-size: 19px;
        text-align: center;
      }
      h3{
        color: #A19AD1;
        font-size: 30px;
        text-align: center;
      }
      .p2{
        color:#A19AD1;
        font-size: 19px;
        text-align: center;
      }
      h4{
        color: #8FC2DF;
        font-size: 30px;
        text-align: center;
      }
      .p3{
        color: #8FC2DF;
        font-size: 19px;
        text-align: center;
      }
      h6{
        color: #8CBF6F;
        font-size: 25px;
        text-align: center;
      }



      #output{
        color: #8CBF6F;
        font-size: 25px;
        text-align: center;
      }
      #title{
        text-align: center;
        font-size: 35px;
        color:  #FF6961;
      }
      #pic{
      width: 800px;
      display: block;
      margin-left: auto;
      margin-right: auto;


      }
      #picture: ::after{
        width: 800px;
          }
    #butt{
      color: #78866b;
      text-align: center;
  }



}
