p {
    color: #659157;
    font-size: 18px;
    text-align:center;
  }

  body {
    background-color: #cdedfd;
    background-image: linear-gradient(319deg, #cdedfd 0%, #ffec82 37%, #ffcfd2 100%);
      }
      h1{
        color:  #659157;
        font-size: 30px;
        text-align: center;
      }
      h2{
        color: #659157;
        text-align: center;
      }
      h3{
        color: #78866b;
        text-align: center;
      }
      h4{color: #78866b;
      text-align: center;
    }
      .output{
        text-align: center;
        color:#87a96b;
        font-size: 20px
      }
      .title{
        text-align: center;
        font-size: 30px;
      }

      .list{
        border-color: #e2725b;
        border-width: medium;
        display:flex ;
        justify-content: center;
      }
      img{
        border-color: #e2725b;
        border-width: medium;
        display:flex ;
        justify-content: center;
        border: 10px solid #555;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 35%;

      }
